<h1>Enter a New Book</h1>
<%= form_for @book, new_book_path, do |f|%>
        <%= f.input :title%>
        <%= f.input :author %>
        <%= f.input :genre %>
        <%= f.input :classification %>
        <%= f.input :book_type %>
        <%= f.input :year %>
        <%= f.submit "Create"%>
<% end %>
